<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE params SYSTEM "params.dtd">


<params name="config">
  <section name="Header">
    <attstr name="id" val="teste2"/>
    <attnum name="mindist" val="40"/>
    <attnum name="maxticks" val="3000"/>
  </section>

  <section name="Races">
    <section name="1">
      <attstr name="track" val="g-track-3"/>
      <attnum name="laps" val="2"/>
    </section>
    <section name="2">
      <attstr name="track" val="michigan"/>
      <attstr name="category" val="oval"/>
      <attnum name="laps" val="2"/>
    </section>
  </section>
</params>
