<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE params SYSTEM "params.dtd">


<params name="config">
  <section name="Header">
    <attstr name="id" val="teste2"/>
    <attnum name="mindist" val="40"/>
    <attnum name="maxticks" val="5000"/>
  </section>

  <section name="Races">
    <section name="1">
      <attstr name="track" val="wheel-2"/>
      <attnum name="laps" val="1"/>
    </section>
  </section>
</params>
